.version {
    background-color: var(--primriaazul-400);
    border-radius: 8px;
    display: block;
    gap: 10px;
    margin: 15px;
  }
  
  .version a {
    color: var(--neutrasbranco);
    font-family: "Inter-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 0;
    line-height: normal;
    width: fit-content;
  }
  .sidebar {
    align-items: flex-start;
    background-color: var(--primriaazul-500);
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .sidebar .header {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    padding: 0px 0px 16px;
    position: relative;
    width: 100%;
  }
  .card-info-posto {
    position: absolute;
    top: 64px;
    right: 0;
    width: 720px;
    height: 90%;
    overflow: 'auto'; 
    } 
    @media (max-width: 768px){
        .card-info-posto {
            width: 100%;
        }
    }